footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(12, 12, 12);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.email {
    font-size: small;
    color: rgb(58, 59, 60);
}