*{
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 248);
}
body {
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapper {
    background-color: rgb(18, 18, 18);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80%;
    max-width: 850px;
}
.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.about {
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
}
.how {
    min-width: 30%;
    padding: 2%;
}
.why {
    min-width: 40%;
    padding: 2%;
}
.function_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.help_que {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.list_head {
    display: flex;
    align-items: center;
    gap: 4px;
}
.student_list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.student-item {
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(64, 64, 64);
    padding: 1px;
}
.user_input {
    color: rgb(40, 40, 40);
    border-radius: 5px;
    width: 100%;
    padding: 2px;
}